asgiref==3.7.2
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.2
django-debug-toolbar==4.1.0
django-widget-tweaks==1.4.12
httplib2==0.22.0
idna==3.4
mysqlclient==2.1.1
protobuf==4.23.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.0.9
requests==2.31.0
rsa==4.9
six==1.16.0
sqlparse==0.4.4
uritemplate==4.1.1
urllib3==1.26.16
