{% extends 'base.html' %}
{% block content %}
    <h2 class="card-title">カスタム管理ページ</h2>
    <br/>
    <a class="btn btn-primary" href="{% url 'admin:index' %}" role="button"
       aria-expanded="false">管理ページ(DB)</a>
    <a class="btn btn-primary" href="/admin/custom_auth/user" role="button"
       aria-expanded="false">ユーザ一覧</a>
    <a class="btn btn-primary" href="/admin/custom_auth/customgroup" role="button"
       aria-expanded="false">グループ一覧</a>
    <a class="btn btn-primary" href="/admin/ticket/ticket" role="button"
       aria-expanded="false">通知一覧</a>
    <a class="btn btn-primary" href="{% url 'custom_admin:ticket_list' %}" role="button"
       aria-expanded="false">チケット一覧</a>
    <br/>
    <br/>
{% endblock content %}
